.pull-left {
	float: left;
}

.pull-right {
	float: right;
	margin-left: $spacing-half;
}

.bottom-right {
	@media only screen and (min-width: $page-width-medium) {
		position: absolute;
		bottom: $spacing-half;
		right: 2.6rem;
		margin: 0;
	}
}