.announcement-banner {
  color: $color-white;
  min-height: 2em;
  text-align: center;
  display: flex;

  &.theme-new-years {
	background-color: #27002d;
  }

  .row {
	padding: 0.4em;
  }

  a, a:visited {
	text-decoration: none;
	color: $color-white;
	&:hover, &:focus {
	  color: $color-white;
	  text-decoration: underline;
	}
  }

  .fa {
	padding: 5px;
  }

  .decoration {

	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 250px;
	height: 2.7em;

	&.site-structure {
	  background-image: url(./../images/announcement-banners/banner-honeycomb-bg.png);
	}

	&.new-years {
	  background-image: url(./../images/announcement-banners/banner-fireworks-bg.png);
	}

	&.right {
	  @include vendor(transform, scaleX(-1));
	  right: 0;
	}

	@media only screen and (max-width: $page-width-medium) {
	  display: none;
	}
  }

  .accent {
	&.site-structure {
	  background-image: url(./../images/announcement-banners/banner-bee.png);
	  background-size: 65px;
	  position: absolute;
	  width: 65px;
	  height: 40px;
	  left: 100px;
	}

	@media only screen and (max-width: $page-width-full) {
	  display: none;
	}
  }
}
