.announcement-banner {
  color: $color-white;
  min-height: 2em;
  text-align: center;
  display: flex;

  .row {
	padding: 0.4em;
  }

  a, a:visited {
	text-decoration: none;
	color: $color-white;
	&:hover, &:focus {
	  color: $color-white;
	  text-decoration: underline;
	}
  }

  .fa {
	padding: 5px;
  }

  .honeycomb {
	background-image: url(./../images/banner-honeycomb-bg.png);
	position: absolute;
	width: 312px;
	height: 2.7em;

	&.right {
	  @include vendor(transform, scaleX(-1));
	  right: 0;
	}

	@media only screen and (max-width: $page-width-medium) {
	  display: none;
	}

  }

  .bee {
	background-image: url(./../images/banner-bee.png);
	background-size: 65px;
	position: absolute;
	width: 65px;
	height: 40px;
	left: 100px;

	@media only screen and (max-width: $page-width-full) {
	  display: none;
	}
  }
}
