body.single-post {

  div.site {
    margin-top: -0.8em;
  }

  .breadcrumb {
    margin-bottom: 1.88rem;
  }

  article.row > h1 {
    margin-top: 2em;
  }

  section.alignright {
    clear: right;
  }

  .post-header {
    margin-bottom: 1em;
    min-height: 400px;
    position: relative;
    z-index: -1;

    &__title {
      position: absolute;
      height: 350px;
      top: 0;
      width: 100%;

      h1 {
        font-family: $font-stack-default;
        font-size: 52px;
        line-height: 62px;
        font-weight: 400;
        color: white;

        text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.6);
        margin: 0;
      }

      span {
        font-family: $font-stack-article;
        font-weight: 800;
        font-style: italic;
      }
    }

    .post-header__title__container {
      position: absolute;
      bottom: 0;
      padding: 40px 20px;
      width: 100%;

      background-color: rgba(48,48,48,0.35);
      background: linear-gradient(to bottom, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0.35) 33%, rgba(48, 48, 48, 0.4) 50%, rgba(48, 48, 48, 0.35) 66%, rgba(48, 48, 48, 0) 100%);
    }
  }

  .content {
    &:first-child {
      padding: 20px 20px 0 0;
    }
    background-color: #ffffff;
    z-index: 1;
  }


  @media only screen and (max-width: $page-width-medium) {
    .content {
      padding: 0;
    }
  }

  .content__after-post-header {
    margin-top: -225px;
  }

  .meta__after-post_header {
    float: right;
    clear: right;
    height: 225px;
    width: 292px;
  }

  .content__first {

    border-top-right-radius: 50px;
    padding-top: 20px;

    & > p:first-child {

      font-weight: bold;

      &:first-letter {
        float: left;
        font-size: 60px;
        line-height: 50px;
        font-weight: normal;
        padding-top: 4px;
        margin-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
      }
    }
  }

  .hide-on-desktop h1 {
    margin: 0.8em 0 0;
  }

  @media only screen and (min-width: $page-width-medium) {
    img.featured-image {
      display: none;
    }
  }

  @media only screen and (max-width: $page-width-medium) {
    .breadcrumb__container {
      display: none;
    }
  }
}