.banner {
	height: 80px;
	background-position: center center;
	background-size: cover;
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-bottom: $spacing;

	&--academy {
		background-image: url(./../images/banner-academy-small.jpg);
		border-color: $scheme-academy-secondary;
	}
}

.black-friday-2016 {
	background-image: url(./../images/black-friday-2016-bg.gif);
	background-position: center center;
	background-size: cover;
	img {
		display: block;
	}
}
