%bordered,
.bordered {
	border: 1px solid $color-grey-line;

	&--fullwidth {
		border-left: none;
		border-right: none;
	}

	&--top {
		border-left: none;
		border-right: none;
		border-bottom: none;
	}

	&--bottom {
		border-left: none;
		border-right: none;
		border-top: none;
	}

	.theme-courses & {
		border-color: $scheme-courses-primary;
	}

  	.theme-seo-blog & {
	  	border-color: $scheme-seo-blog-primary;
	}

	.theme-courses--secondary & {
		border-color: $scheme-courses-secondary;
	}

	.theme-plugins & {
		border-color: $scheme-plugins-primary;
	}

	.theme-hire-us & {
		border-color: $scheme-hire-us-primary;
	}

	.theme-home & {
		border-color: $scheme-home-primary;
	}

	.theme-faq & {
	  border-color: $scheme-faq-secondary;
	}

	.theme-ebooks & {
	  border-color: $scheme-ebooks-secondary;
	}



	/* Explicit theming */

	&.theme-courses {
		border-color: $scheme-courses-primary;
	}

  	&.theme-seo-blog {
		border-color: $scheme-seo-blog-primary;
  	}

	&.theme-courses--secondary {
		border-color: $scheme-courses-secondary;
	}

	&.theme-plugins {
		border-color: $scheme-plugins-primary;
	}

	&.theme-plugins--secondary {
		border-color: $scheme-plugins-secondary;
	}

	&.theme-hire-us {
		border-color: $scheme-hire-us-primary;
	}

	&.theme-hire-us--secondary {
		border-color: $scheme-hire-us-secondary;
	}

  	&.theme-home {
		border-color: $scheme-home-primary;
  	}

  	&.theme-faq {
		border-color: $scheme-faq-secondary;
  	}

	&.theme-ebooks {
	  border-color: $scheme-ebooks-secondary;
	}

	&.link {
		border-color: $color-orange;

		&::after { 
			@include vendor(filter, drop-shadow(1px 0 0 $color-orange));
		}
	}

	&.cta {
		border-color: $color-orange;

		&::after { 
			@include vendor(filter, drop-shadow(1px 0 0 $color-orange));
		}
	}
}
