.breadcrumb {
  @media only screen and (max-width: $page-width-medium) {
    display: none;
  }

  i.fa {
    margin: 0 3px;
  }

  margin-bottom: 1rem;

  a {
    text-decoration: none;
  }
  span {
    color: $color-grey-text;
  }

  .theme-home & {
    &, a, .sep {
      color: $scheme-home-primary;
    }
  }

  .theme-seo-blog & {
    &, a, .sep {
      color: $scheme-seo-blog-primary;
    }
  }

  .theme-plugins & {
    &, a, .sep {
      color: $scheme-plugins-primary;
    }
  }

  .theme-courses & {
    &, a, .sep {
      color: $scheme-courses-primary;
    }
  }

  .theme-ebooks & {
    &, a, .sep {
      color: $scheme-ebooks-primary;
    }
  }

  .theme-hire-us & {
    &, a, .sep {
      color: $scheme-hire-us-primary;
    }
  }

  .theme-faq-us & {
    &, a, .sep {
      color: $scheme-faq-primary;
    }
  }
}
