body .button, body button {
  font-family: $font-stack-default;
  color: $color-white;

  background: rgb(230, 102, 14); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(230, 102, 14, 1) 0%, rgba(195, 67, 0, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(230, 102, 14, 1) 0%, rgba(195, 67, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(230, 102, 14, 1) 0%, rgba(195, 67, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6660e', endColorstr='#c34300', GradientType=0); /* IE6-9 */

  &:hover, &:focus {
    color: $color-white;
    text-decoration: none;
  }
}

.button, button {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 0.345em 1em;
  font-size: 1.1em;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  text-shadow: $text-shadow;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
  overflow: hidden;

  max-height: 1.43rem + 1.43rem;

  margin-bottom: 1em;
  margin-right: 1em;

  .arrow {
    display: none;
  }

  &--slim {
    padding: 0.18em 0.5em;
    font-size: 0.9em;
    margin: 0 0.5em 0.5em 0;
  }

  &--full {
    width: 100%;
  }

  &.default {
    color: $color-white;
  }

  &:hover, &:focus {
    background: #e6660e;
  }

  &:active {
    background: #c34300;
    text-shadow: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    top: 1px;
  }

  &.dimmed {
    color: $color-grey-text;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,bebebe+100 */
    background: rgb(230,230,230); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(190,190,190,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(190,190,190,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(190,190,190,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#bebebe',GradientType=0 ); /* IE6-9 */

    text-shadow: none;

    &:hover, &:focus {
      color: $color-grey-text;
      background: $color-grey-hover;
    }

    &.flat {
      background: #e6e6e6;
      box-shadow: none;

      &:hover, &:focus {
        background: $color-grey-hover;
      }
    }
  }

  &--naked {
    border: none;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    overflow: auto;
    margin: 0;

    &:hover, &:focus {
      text-decoration: underline;
      background: transparent;
    }

    &:active {
      top: 0;
      box-shadow: none;
      background: transparent;
    }
  }

  i.fa {
    font-size: 140%;
    margin: 0 10px 0 0;
    position: relative;
    top: 1px;

    &.fa-pencil-square-o {
      top: 3px;
    }

    &.fa-arrow-circle-right {
      top: 2px;
    }

    &.fa-info-circle {
      font-size: 130%;
      margin: 0 5px 0 0;
      top: 2px;
    }
  }
}

.alignright {
  .button, button {
    margin: 0;
    min-width: 60%;
  }

  .button + .button.dimmed {
    min-width: 35%;
    float: right;
  }
}