.button, button {
  font-family: $font-stack-default;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.345em 1em;
  font-size: 1.1em;
  color: $color-white;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  text-shadow: $text-shadow;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
  overflow: hidden;

  background: rgb(230, 102, 14); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(230, 102, 14, 1) 0%, rgba(195, 67, 0, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(230, 102, 14, 1) 0%, rgba(195, 67, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(230, 102, 14, 1) 0%, rgba(195, 67, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6660e', endColorstr='#c34300', GradientType=0); /* IE6-9 */

  @media only screen and (min-width: $page-width-small) {
    margin-right: 1.36rem;
    width: auto;
    max-height: 1.43rem + 1.43rem;

    &.left {
      margin-right: 0;
      margin-left: 1.36rem;
    }
  }

  &.alignleft {
    margin: 1rem 2.5rem 0 0 !important;
  }

  .arrow {
    display: none;
  }

  & + & {
    margin-top: 1em;
    margin-left: $spacing;
  }

  &--full {
    width: 100%;
  }

  &.default {
    color: $color-white;
  }

  &:hover, &:focus {
    background: #e6660e;
    color: $color-white;
    text-decoration: none;
  }

  &:active {
    background: #c34300;
    text-shadow: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    top: 1px;
  }

  &.dimmed {
    color: $color-grey-text;
    background: $color-grey;
    text-shadow: none;

    &:hover, a:focus {
      color: $color-grey-text;
      background: $color-grey-hover;
    }
  }

  &--naked {
    border: none;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    overflow: auto;

    &:hover, &:focus {
      text-decoration: underline;
      background: transparent;
    }

    &:active {
      top: 0;
      box-shadow: none;
      background: transparent;
    }
  }

  i.fa {
    font-size: 140%;
    margin: 0 10px 0 0;
    position: relative;
    top: 1px;

    &.fa-pencil-square-o {
      top: 3px;
    }

    &.fa-arrow-circle-right {
      top: 2px;
    }
  }
}
