body.edd-checkout {
  .announcement.newsletter,
  #fullfooter {
    display: none;
  }
}

#edd_next_button {

}

.checkout-wrap__container {
  @extend .grid;
  @extend .row;
}

#edd_payment_mode_select {
  font-family: $font-stack-default;
}

.checkout {
  ul {
    margin-bottom: 0;
  }

  &__form {
    width: calc(100% - 300px);
  }


  li {
    margin-bottom: 1em;
    padding-top: 1em;
    border-top: 1px dashed #ddd;
    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }

  .hr__after-tax {
    border-color: #bbb;
    border-style: dotted;
  }

  &__cart-price {
    text-align: right;
    padding-right: 15px;
    color: #777;

    &--total {
      color: #333;
      font-weight: bold;
    }
  }

  &__price {
    white-space: nowrap;
  }

  .item-discount {
    font-style: italic;
    color: $color-pink-dark;
  }

  &-item__icon {
    width: 40px;
    min-height: 10px;
    float: left;
    margin-right: 1rem;
  }

  .checkout__cancel {
    text-decoration: none;
    color: $color-grey-text;
    float: right;
    margin-left: 4px;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  label {
    margin-top: 0;
  }

  input[type="number"] {
    padding: $spacing / 4;
  }

  select {
    margin: 0;
    line-height: 1.5em;
    border: none;
  }

  input[type="radio"] {
    margin-right: $spacing-half;
  }

  &__products .item-discount {
    border-top: none;
    padding-top: 0;
    margin-top: -1em;
  }
}

.edd_payment__method {
  vertical-align: middle;
  margin-left: 1rem;
}

#edd-discount-error-wrap {
  display: block;
  clear: both;
  color: red;
}

// Hide renewal form and style the cancel renewal form.
#edd_sl_renewal_form {
  display: none;
}

#edd_sl_cancel_renewal_form {
  // Import the .row styles
  @extend .row;

  .button {
    color: $color-white;
  }

  .button, p {
    margin: 0;
  }
}

// Style the discount code form if it is present.
#edd_discount_code {
  @extend .row;
  @extend .iceberg;

  p {
    margin: 0;
  }

  input {
    width: 10em;
  }

  .button {
    color: $color-white;
  }
}

.edd_empty_cart {
  @extend .row;

  margin-top: 2em;
  margin-bottom: 2em;
}

// Style the user information
#edd_checkout_user_info,
#edd_cc_fields,
#edd_cc_address,
#edd_purchase_submit,
#edd-stripe-payment-errors,
#edd_check_payment_info,
#edd_terms_agreement {
  @extend .row;
}

#edd_checkout_cart_wrap {
  @extend .iceberg;
}

// Style the purchase form to make it more compact and responsive
#edd_purchase_form {
  @extend .iceberg;

  p {
    display: block;
  }

  label {
    margin-bottom: 0;
  }

  .edd-description {
    font-size: 0.8rem;
  }

  #edd-email-wrap {
    clear: both;
  }

  input.error {
    border: 1px solid $color-error;
  }

  .checkout--payment-options {
    fieldset {
      margin: 0;
    }
  }

  .checkout-payment--title {
    font-weight: bold;
    font-size: 1em;
    color: #555;
  }

  .checkout--payment-icon {
    font-size: 36px;
    margin-right: 4px;
  }

  .checkout--payment-option {
    float: left;
    margin-right: 8px;
    color: #8c8c8c;

    & .edd-gateway-option-selected,
    &:active, &:hover {
      color: $color-blue;
    }

    .edd-gateway {
      position: relative;
      top: -7px;
    }
  }

  .bank-transfer {
    .edd-gateway {
      top: -14px;
    }
  }

  #edd_agree_to_terms-error {
    background: none;
    display: inline;
    color: $color-error;
    margin-right: 0;
    padding-right: 0;
  }

  .fa-bank-transfer {
    background: url(../images/shop/BankTransfer.svg) top left no-repeat transparent;
    width: 58px;
    height: 34px;
    margin: 2px 0;

    &:hover, &:focus {
      background-image: url(../images/shop/BankTransferActive.svg);
    }
  }

  & .edd-gateway-option-selected {
    .fa-bank-transfer {
      background-image: url(../images/shop/BankTransferActive.svg);
    }
  }

  .edd_errors {
    background: $color-error;
    color: $color-white;
    font-style: italic;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;

    p {
      margin-bottom: 0;
    }
  }

  label[for="edd_agree_to_terms"] {
    display: inline;
  }

  .card-expiration {
    $seperator_width: 30px;

    label {
      margin: 0;
    }

    input {
      width: calc(50% - (#{$seperator_width} / 2));
    }

    .separator {
      width: $seperator_width;
      float: left;
      text-align: center;
      line-height: 3rem;
    }

    @include clearfix;

    @media only screen and (min-width: 60rem) {
      float: left;
    }
  }

  .card-expiry-month {
    float: left;
  }

  .card-expiry-year {
    float: left;
  }

  #edd-card-number-wrap {
    max-width: 30rem;

    label {
      margin: 0;
    }

    @media only screen and (min-width: $page-width-small) {
      float: left;
    }
  }

  #edd-card-name-wrap {
    clear: both;
  }

  #edd-card-name-wrap,
  #edd-card-city-wrap,
  #edd-card-zip-wrap {

    input {
      margin-bottom: 0;
    }
  }

  #edd-card-name-wrap,
  #edd-card-cvc-wrap,
  #edd-card-city-wrap,
  #edd-card-zip-wrap {
    label {
      margin-top: 0;
    }
  }

  .edd-submit {
    color: $color-white;
  }

  @media only screen and (min-width: $page-width-small) {
    #edd-first-name-wrap {
      float: left;
      width: 50%;
      padding: 0 20px 0 0;
    }

    #edd-last-name-wrap {
      float: left;
      width: 50%;
      padding: 0 0 0 20px;
    }

    .card-expiration {
      max-width: 11rem;
      float: left;
      padding: 0 0 0 20px;
    }

    #edd-card-number-wrap {
      float: left;
    }

    #edd-card-name-wrap {
      width: 70%;
      max-width: 22rem;
      float: left;
    }

    #edd-card-cvc-wrap {
      max-width: 8rem;
      float: left;
      padding: 0 10px;
    }

    #edd-card-city-wrap {
      width: calc(100% - 13rem);
      float: left;
    }

    #edd-card-zip-wrap {
      width: 13rem;
      padding: 0 0 0 40px;
      float: left;
    }
  }

  .edd-cancel {
    display: none;
  }

  #yst-edd-btw-wrap {
    position: relative;

    .fa-spinner {
      display: none;
      margin: 0 0 0 10px;

      &.show {
        display: inline;
      }
    }
  }
}
