.edd_download_purchase_form {
	@include clearfix;
	@extend .iceberg;

	ul {
		@extend .list--unstyled;
	}

	.edd-add-to-cart {
		color: $color-white;
	}

	.edd_purchase_submit_wrapper {
		display: none;
	}

	.edd_download_quantity_wrapper {
		float: left;
		display: block !important;
		margin-right: 20px;

		input[type="number"] {
			@extend .size-s;
			margin-left: 0;
		}
	}

	.edd-add-to-cart {
		float: left;
		margin-top: 1px;
	}

	.edd_go_to_checkout {
		display: none;
	}
}
