
.checkout-cross-sell {
  width: 280px;

  h2 {
    font-size: 1.4em;
  }

  .promoblock {
    padding: 15px;
    border-color: $color-purple;
    h2 {
      color: $color-purple;
    }
  }

  &__item {
    @extend .grid;

    border-top: 1px dashed #ccc;
    padding-top: 20px;
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }

  &__icon {
    width: 55px;
    font-size: 0.8em;

    .more__save--alone {
      padding-top: 6px;
    }

    .more__plug,
    .more__plug--small {
      width: 55px;
      height: 55px;
    }
  }

  &__details {
    width: calc(100% - 70px);
    select {
      margin: 0;
      width: 100%;
    }

    .edd_download_purchase_form {
      padding-bottom: 1em;
    }
  }

  &__title {
    font-family: $font-stack-default;
    font-weight: 300;

    font-size: 1.1em;
    line-height: 120%;
    margin-bottom: 0.5em;
    color: #555;
  }

  .button--naked {
    width: auto;
    font-size: 1em;

    color: $color-pink-dark;
    &:hover, &:focus {
      color: $color-pink-light;
    }
  }
}
