// A background color based on the theme it is in.
//
// .fill              	 - This class automatically inherits its color from the theme it is in
// .fill.theme-courses   - The background color for an courses element
// .fill.theme-plugins  - The background color for a plugins element
// .fill.theme-hire-us    - The background color for a hire-us element
// .fill.theme-seo-blog    - The background color for a seo-blog element
// .fill.theme-home    - The background color for a home element
// .fill.theme-ebooks    - The background color for a ebooks element
// .fill.theme-faq    - The background color for a faq element
// .theme-courses .fill  - The background color for an element in courses
// .theme-plugins .fill - The background color for an element in plugins
// .theme-hire-us .fill   - The background color for an element in hire-us
// .theme-seo-blog .fill   - The background color for an element in seo-blog
// .theme-home .fill   - The background color for an element in home
// .theme-ebooks .fill   - The background color for an element in ebooks
// .theme-faq .fill   - The background color for an element in faq
//
// Styleguide 0.0.1

@mixin fill($color-primary, $color-secondary, $color-tertiary, $transparency) {
	& {
		background-color: $color-primary;
		color: $color-white;
		border-color: $color-secondary;
		&::after {
			border-top-color: $color-primary;
		}

		&.announcement--pointer {
			&::after {
				@include vendor(filter, drop-shadow(0 1px 0 $color-secondary));
			}
		}

		&.announcement--pointer-top {
			&::before {
				@include vendor(filter, drop-shadow(0 1px 0 $color-secondary));
			}
		}
	}

	&.fill--secondary {
		background-color: $color-secondary;
		border-color: $color-tertiary;

		&::after {
			border-top-color: $color-secondary;
		}

		&.announcement--pointer {
			&::after {
				@include vendor(filter, drop-shadow(0 1px 0 $color-tertiary));
			}
		}

		&.announcement--pointer-top {
			&::before {
				@include vendor(filter, drop-shadow(0 1px 0 $color-tertiary));
			}
		}
	}

	&.fill--tertiary {
		background-color: $color-tertiary;
		border-color: $color-primary;

		&::after {
			border-top-color: $color-tertiary;
		}

		&.announcement--pointer {
			&::after {
				@include vendor(filter, drop-shadow(0 1px 0 $color-primary));
			}
		}

		&.announcement--pointer-top {
			&::before {
				@include vendor(filter, drop-shadow(0 1px 0 $color-primary));
			}
		}
	}

	&.fill--transparent {
		background-color: rgba($color-primary, $transparency);
		border-color: $color-white;
		&::after {
			border-top-color: rgba($color-primary, $transparency);
		}
	}
}


.fill {
	color: $color-white;

	a, a.more {
		color: $color-white;
		text-decoration: none;
		&:hover, &:focus {
			color: $color-white;
			text-decoration: underline;
		}
	}
	h1, h2, h3, h4 {
		color: $color-white;
	}

	p, .p {
		color: $color-white;
	}

	.theme-courses & {
		@include fill($scheme-courses-primary, $scheme-courses-secondary, $scheme-courses-tertiary, .7);
	}

	.theme-plugins & {
		@include fill($scheme-plugins-primary, $scheme-plugins-secondary, $scheme-plugins-tertiary, .7);
	}

	.theme-hire-us & {
		@include fill($scheme-hire-us-primary, $scheme-hire-us-secondary, $scheme-hire-us-tertiary, .7);
	}

	.theme-seo-blog & {
	  @include fill($scheme-seo-blog-primary, $scheme-seo-blog-secondary, $scheme-seo-blog-tertiary, .7);
	}

	.theme-home & {
		@include fill($scheme-home-primary, $scheme-home-secondary, $scheme-home-tertiary, .5);
	}

	.theme-ebooks & {
	  @include fill($scheme-ebooks-primary, $scheme-ebooks-secondary, $scheme-ebooks-tertiary, .7);
	}

  	.theme-faq & {
		@include fill($scheme-faq-primary, $scheme-faq-secondary, $scheme-faq-tertiary, .7);
  	}

	/* Explicit theming */

	&.theme-courses {
		@include fill($scheme-courses-primary, $scheme-courses-secondary, $scheme-courses-tertiary, .7);
	}

	&.theme-plugins {
		@include fill($scheme-plugins-primary, $scheme-plugins-secondary, $scheme-plugins-tertiary, .7);
	}

	&.theme-hire-us {
		@include fill($scheme-hire-us-primary, $scheme-hire-us-secondary, $scheme-hire-us-tertiary, .7);
	}

  	&.theme-seo-blog {
		@include fill($scheme-seo-blog-primary, $scheme-seo-blog-secondary, $scheme-seo-blog-tertiary, .7);
  	}

	&.theme-home {
		@include fill($scheme-home-primary, $scheme-home-secondary, $scheme-home-tertiary, .5);
	}

	&.theme-ebooks {
	  @include fill($scheme-ebooks-primary, $scheme-ebooks-secondary, $scheme-ebooks-tertiary, .7);
	}

	&.theme-faq {
	  @include fill($scheme-faq-primary, $scheme-faq-secondary, $scheme-faq-tertiary, .7);
	}

}
