.free-plugin-download__container {
  vertical-align: top;
  margin-top: 0.6em;
  margin-left: 1em;
  display: inline-block;

  @media only screen and (max-width: $page-width-small) {
    margin-top: 0em;
  }

  a.free-plugin-download {
    display: inline-block;
    margin-left: 1em;
    color: $color-green-blue !important;
    text-decoration: underline !important;
  }
}
