.fullfooter {
	padding-top: $spacing;
	position: relative;
	z-index: 0;

	@media only screen and (max-width: $page-width-full) {
		background-color: $color-white;
	}

  	.grid{
	  	@media only screen and (min-width: $page-width-medium) {
		  	@include vendor(flex-direction, column);
		  	@include vendor(justify-content, flex-start);
		  	height: 45em;
	  	}
	  .one-third{
		flex: 0 1 auto;
	  }
	}

	.promoblock {
		font-family: $font-stack-default;
		margin-bottom: $spacing;

		p, .p {
			font-weight: 300;
			margin-bottom: 0;
		}
	}

	.h4 {
		@media only screen and (max-width: $page-width-medium) {
			margin-bottom: 0!important;
		}
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		list-style: none;
		padding: 0;
		a {
			text-decoration: none;

			&:hover, &:focus {
				text-decoration: underline;
			}

		  	&.icon{
			  	span{
			  		margin-right:.4em;
			  	}
			}
		}

		ul {
			@extend .hide-on-tablet;
		}
	}
}

hr + .fullfooter {
	padding-top: 0;
}
