.hosting-partners--container {
  @extend .row;

  display: flex;
  flex-wrap: wrap;
}

.hosting-partner {
  flex-basis: 450px;
  flex-grow: 1;
  margin: 0 1em 1em 0;

  &--title {
    border-radius: 30px 30px 0 0;
    padding: 1em 1em 0.5em;
  }

  &--content {
    border: 1px solid $color-purple;
    border-top: none;
    padding: 1em;
    border-radius: 0 0 0 30px;
    overflow: hidden;
  }

  &--introduction,
  &--features,
  &--support-languages {
    margin-bottom: 1em;
  }

  &--feature-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &-feature-present {
    width: 16px;
    display: inline-block;
    &__yes {
      color: green;
    }
    &__no {
      color: red;
    }
  }

  &--support-languages {
    .flag-icon {
      border-radius: 50%;
    }
  }

  &--price-range {
    float: left;
    &__faded {
      color: #aaa;
    }
  }

  &--cta {
    float: right;
    .button {
      margin: 0.5em 0 0 0;
    }
  }
}

