/* Main navigation */
.sitenav {
  /* 1 pixel border between main and subnav */
  background-image: linear-gradient($color-white 0%, $color-white 0%);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
  width: 100%;
  //text-shadow: $text-shadow;
  position: relative;

  /* A little special treatment for the home link*/
  .mainnav__home {
    //width: 5em;
    text-align: center;

    .mainnav-menuitem::after, > a:after {
      display: none;
    }

    @media only screen and (max-width: $page-width-medium) {
      display: none;
    }

    @media only screen and (min-width: $page-width-full) {
      //width: 7em;
    }
  }

  &.is-sticky {
    z-index: 20;
    .mainnav__home {
      a {
        background-image: url(./../images/logo-diap.svg);
        background-repeat: no-repeat;
        background-position: 50% 44%;
        background-size: 80%;
        color: transparent;
        //text-shadow: none;
      }
    }
  }

  @media only screen and (min-width: $page-width-medium) {
    &::before {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      z-index: 0;
      height: 10px;
      width: 100%;
      border-top: 1px solid $color-white;
    }
  }
}

.mainnav {
  max-width: $page-width-full;
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: left;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    @include display-flex;
    @include vendor(flex-wrap, wrap);
    @include vendor(justify-content, flex-start);
    -ms-flex-pack: start;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    @include vendor(flex-shrink, 0);

    @media only screen and (max-width: $page-width-medium) {
      width: 50%;
    }

    &:last-child .mainnav-menuitem {
      @media only screen and (min-width: $page-width-medium) {
        border-right: 1px solid $color-white;
      }
    }
  }

  > ul > li:last-child > a {
    @media only screen and (min-width: $page-width-medium) {
      border-right: 1px solid $color-white;
    }
  }

  a {
    letter-spacing: 0.05em;
    color: $color-white;
    text-decoration: none;

    &:hover, &:focus {
      color: $color-white;
      text-decoration: underline;
    }
  }

  .mainnav__home a {
    &::before {
      background-color: $scheme-about-primary;
    }
  }

  .mainnav__academy a {
    &::before {
      background-color: $scheme-academy-primary;
    }
  }

  .mainnav__software a {
    &::before {
      background-color: $scheme-software-primary;
    }
  }

  .mainnav__review a {
    &::before {
      background-color: $scheme-review-secondary;
    }
  }
  .mainnav__about a {
    &::before {
      background-color: $scheme-about-primary;
    }
  }

  .theme-academy & {
    .mainnav__academy {
      background-color: $scheme-academy-menu-secondary;

      //active item on mobile
      @media only screen and (max-width: $page-width-medium) {
        background-color: $color-grey;
        //text-shadow: none;
        a.mainnav-menuitem, > a {
          background-color: $color-grey !important;
          color: $color-grey-text;
        }
      }

      .mainnav-menuitem, > a {
        background-color: $scheme-academy-menu-secondary;

        &:hover, &:focus {
          background-image: none;
        }

        &::before {
          content: none;
        }
      }
    }
  }

  .theme-software & {
    .mainnav__software {
      background-color: $scheme-software-menu-primary;

      //active item on mobile
      @media only screen and (max-width: $page-width-medium) {
        background-color: $color-grey !important;
        //text-shadow: none;
        a.mainnav-menuitem, > a {
          background-color: $color-grey !important;
          color: $color-grey-text;
        }
      }

      .mainnav-menuitem, > a {
        background-color: $scheme-software-menu-secondary;

        &:hover, &:focus {
          background-image: none;
        }

        &::before {
          content: none;
        }
      }
    }
  }

  .theme-review & {
    .mainnav__review {
      background-color: $scheme-review-menu-secondary;

      //active item on mobile
      @media only screen and (max-width: $page-width-medium) {
        background-color: $color-grey;
        //text-shadow: none;
        a.mainnav-menuitem, > a {
          background-color: $color-grey !important;
          color: $color-grey-text;
        }
      }

      .mainnav-menuitem, > a {
        background-color: $scheme-review-menu-secondary;
        @media only screen and (max-width: $page-width-medium) {
          background-color: $scheme-review-menu-primary;
        }

        &:hover, &:focus {
          background-image: none;
        }

        &::before {
          content: none;
        }
      }
    }
  }

  .theme-about & {
    .mainnav__about {
      background-color: $scheme-about-menu-primary;

      //active item on mobile
      @media only screen and (max-width: $page-width-medium) {
        background-color: $color-grey;
        //text-shadow: none;
        a.mainnav-menuitem, > a {
          background-color: $color-grey !important;
          color: $color-grey-text;
        }
      }

      .mainnav-menuitem, > a {
        background-color: $scheme-about-menu-secondary;

        &:hover, &:focus {
          background-image: none;
        }

        &::before {
          content: none;
        }
      }
    }
  }
}

.mainnav-menuitem, .mainnav > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 99%;
  padding: .6rem .6rem;
  font-size: .9em;
  text-decoration: none;
  color: $color-white;

  // On desktop specify a different color for active menuitems
  @media only screen and (min-width: $page-width-medium) {
    font-size: .95em;
    border-left: 1px solid $color-white;
    padding: .3rem .9rem .9rem;

    //&::after {
    //	content: "\00a0\f0d7";
    //	font-family: $font-stack-icon;
    //	font-size: .9em;
    //
    //	.theme-home & {
    //		content: " \00a0\f0d7";
    //	}
    //}

    .mainnav__home &:hover {
      background-image: linear-gradient($scheme-home-menu-secondary 0%, $scheme-home-menu-secondary 90%, $color-white 90%);
    }

    .mainnav__academy &:hover {
      background: linear-gradient($scheme-academy-menu-secondary 0%, $scheme-academy-menu-secondary 90%, $color-white 90%);
    }

    .mainnav__software &:hover {
      background: linear-gradient($scheme-software-menu-secondary 0%, $scheme-software-menu-secondary 90%, $color-white 90%);
    }

    .mainnav__review &:hover {
      background: linear-gradient($scheme-review-menu-secondary 0%, $scheme-review-menu-secondary 90%, $color-white 90%);
    }

    .mainnav__about &:hover {
      background: linear-gradient($scheme-about-menu-secondary 0%, $scheme-about-menu-secondary 90%, $color-white 90%);
    }
  }

  @media only screen and (min-width: 57rem) {
    font-size: 1.125em;
    padding: .6rem 1rem 1rem;
  }

  &::before {

    @media only screen and (min-width: $page-width-medium) {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 1;
      height: 10px;
      width: 100%;
      border-top: 1px solid $color-white;
    }

    @media only screen and (min-width: $page-width-medium-plus) {
      bottom: 2px;
    }

    @media only screen and (min-width: $page-width-full) {
      bottom: 2px;
    }

  }

  &:hover, &:focus {
    &::before {
      border-top: none;
    }
  }
}

@media only screen and (min-width: $page-width-medium) {
  .mainnav__home > a:hover {
    background-image: linear-gradient($scheme-home-menu-secondary 0%, $scheme-home-menu-secondary 90%, $color-white 90%);
  }

  .mainnav__academy > a:hover {
    background: linear-gradient($scheme-academy-menu-secondary 0%, $scheme-academy-menu-secondary 90%, $color-white 90%);
  }

  .mainnav__software > a:hover {
    background: linear-gradient($scheme-software-menu-secondary 0%, $scheme-software-menu-secondary 90%, $color-white 90%);
  }

  .mainnav__review > a:hover {
    background: linear-gradient($scheme-review-menu-secondary 0%, $scheme-review-menu-secondary 90%, $color-white 90%);
  }

  .mainnav__about > a:hover {
    background: linear-gradient($scheme-about-menu-secondary 0%, $scheme-about-menu-secondary 90%, $color-white 90%);
  }
}

.sitenav--home {
  border-top: 1px solid $color-white;
  background-color: $scheme-home-secondary;

  .mainnav-menuitem, .mainnav > ul > li > a {
    //padding-bottom: .6rem;
    padding: .3rem .9rem .9rem;

    &::before {
      bottom: 1px;
    }
  }

  &::before {
    content: none;
  }

  @media only screen and (min-width: $page-width-medium) {
    position: relative;
  }
}

/* Mobile main navigation */
@media only screen and (max-width: $page-width-medium) {
  .mainnav__academy {
    -webkit-order: 1;
    order: 1;
    border-bottom: 1px solid $color-white;
    background-color: $scheme-academy-menu-primary;
  }

  .mainnav__software {
    -webkit-order: 3;
    order: 3;
    background-color: $scheme-software-menu-secondary;
  }

  .mainnav__review {
    -webkit-order: 2;
    order: 2;
    border-left: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
    background-color: $scheme-review-menu-secondary;
  }

  .mainnav__about {
    -webkit-order: 4;
    order: 4;
    border-left: 1px solid $color-white;
    background-color: $scheme-about-menu-secondary;
  }
}

.subnav {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0;
  display: block;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

  @media only screen and (max-width: $page-width-medium) {
    display: none;
    box-shadow: none;
  }

  ul {
    max-width: $page-width-full-padded;
    width: 100%;
    margin: auto;
    padding: 0;
    @include vendor(display, flex);
  }

  li {
    display: inline-block;
    margin: .4rem 0.2rem .4rem 0;
    padding: 0;

    &:first-child a {
      border-left: none;
    }

    &:last-child a {
      //border-right: 1px solid rgba($color-white, .5);
    }
  }

  @media only screen and (min-width: $page-width-medium) {
    display: none;

    .theme-academy .mainnav__academy & {
      display: block;
    }

    .theme-software .mainnav__software & {
      display: block;
    }

    .theme-review .mainnav__review & {
      display: block;
    }

    .theme-about .mainnav__about & {
      display: block;
    }
  }

  > ul > li > a {
    display: inline-block;
    padding: 0 .85rem;
    margin: .5rem 0;
    font-size: .9em;
    text-decoration: none;
    border-left: 2px solid $color-white;
    line-height: 1;
    &--active {
      text-decoration: underline;
    }

    @media only screen and (min-width: $page-width-medium) {
      font-size: .95em;
    }
  }
}

.sitenav--offcanvas {
  display: none;

  position: fixed;
  top: 4em;
  bottom: 0;
  right: -70%;
  z-index: 90;
  width: 70%;
  overflow: scroll;

  background-color: $color-white;
  //text-shadow: none;

  transition: right .1s linear;

  ul {
    display: block;
    width: auto;
  }

  li {
    width: 100%;
  }

  .subnav {
    position: relative;
    display: block;
    background-color: $color-white;

    li {
      width: auto;
      display: block;
      margin: 0;
      padding: .4rem;
    }

    a {
      color: $color-grey-text;
    }
  }
  @media only screen and (max-width: $page-width-medium) {
    display: block;

    [data-show-mobile-nav] & {
      right: -1%;
    }
  }

  .admin-bar & {
    top: calc(4em + 46px);
    @media only screen and(min-width: 783px) {
      top: calc(4em + 32px);
    }
  }
}

[data-show-mobile-nav] {
  @media only screen and (max-width: $page-width-medium) {
    &::after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 80;
      background-color: rgba($color-black, .5);
    }
  }
}
