[data-show-mobile-search] {
	@media only screen and (max-width: $page-width-medium) {
		padding-top: 7em;
	}
}

.mobile-search {
	display: none;

	position: fixed;
	top: 4em;
	z-index: 80;
	height: 3em;
	width: 100%;

	background-color: $color-white;
	border-bottom: 1px solid $color-black;
	font-family: $font-stack-default;
	

	@media only screen and (max-width: $page-width-medium) {
		[data-show-mobile-search] & {
			@include display-flex;
		}
	}

	input {
		border: none;
		width: 80%;
		margin-bottom: 0;
		padding: $spacing-half;
	}

	button {
		padding: 0;
		margin: 0;
		width: 20%;
		padding: .4rem 2rem 0 0;
		border-left: none;
		//text-shadow: none;
		background-color: transparent;
		overflow: hidden;

		&:hover, &:focus {
			color: $color-orange;
		}

	}

	.admin-bar & {
		top: calc( 4em + 46px );
		@media only screen and(min-width: 783px) {
			top: calc( 4em + 32px );
		}
	}
}
