.promolink {
	@extend %bordered;
	@include rounded--small;
	
	display: block;
	margin-bottom: $spacing;
	padding: 10px 20px;

	letter-spacing: 0.05em;
	text-decoration: none !important;

	&.fill  {
		border-color: $color-white;
	}

	&--icon {
		padding: $spacing/6;
		font-size: 1.5em;
	}
}