.searchbar {

  @media only screen and (min-width: $page-width-medium) {
    position: absolute;
    top: 40px;
    right: 100px;
  }

  @media only screen and (max-width: $page-width-medium) {
    display: none;
    position: fixed;
    background-color: $color-white;
    width: 100%;
    z-index: 90;
    border-bottom: 1px solid $color-grey-line;

    form {
      width: 100%;
      display: flex;
    }

    .algolia-autocomplete {
      display: inline;
      margin-right: 20px;
    }

    .search-button {
      width: 40px;
      margin: 0;
      font-size: 1.5em;
    }

    .search-button:hover, .search-button:focus {
      text-decoration: none;
      background-color: transparent;
      color: $color-orange-hover;
    }

    [data-show-mobile-search] & {
      display: block;
      padding: 1.2em;
    }
  }

}

// Algolia overrides.
.no-results {
  margin-bottom: 1em;
}

#refine-toggle,
.no-results .button {
  display: none;
}

@media only screen and (max-width: $page-width-medium) {
  #algolia-left-container,
  #instant-search-facets-container {
    display: none;
  }

  #algolia_instant_selector.with-facets #algolia-right-container {
    float: none;
    width: 100%;
  }

  #algolia_instant_selector #instant-search-box svg.magnifying-glass {
    right: 32px;
  }
}

#instant-search-facets-container .count {
  padding: 0 6px;
  font-size: .8em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: $color-purple-dark;
  color: white;
}

#algolia_instant_selector.with-facets #algolia-left-container {
  width: 25%;
}

#algolia_instant_selector.with-facets #algolia-right-container {
  width: 75%;
}

#algolia_instant_selector .result .content {
  width: auto;
}

#algolia_instant_selector .result .imgExt {
  max-width: 200px;
  max-height: 200px;
}

#algolia_instant_selector .result .result-title {
  margin-bottom: auto;
}
