body {
  @media only screen and (max-width: $page-width-medium) {
    padding-top: 4em;
  }
}

.siteheader {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  @media only screen and (min-width: $page-width-medium) {
    margin-bottom: 3.5rem;
  }

  .home-title {
    font-size: 1em;
    margin-bottom: 0;
  }

  .tagline {
    @media only screen and (max-width: $page-width-medium) {
      display: none;
    }

    padding-bottom: 1rem;
    margin-bottom: 0;
    color: $color-white;
    font-weight: 300;
    font-size: 2em;
    text-shadow: $text-shadow;
  }

}

.masthead {
  @media only screen and (max-width: $page-width-medium) {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: $color-pink-dark;
    border-bottom: 1px solid $color-white;

    .admin-bar & {
      top: 46px;
      @media only screen and(min-width: 783px) {
        top: 32px;
      }
    }
  }
  /* Main site title */
  .pagetitle {
    width: 8em;
    height: 4em;

    margin: 0;
    line-height: 1em;
    display: block;

    background: url(./../images/logo-diap.svg) no-repeat left;

    @media only screen and (min-width: $page-width-medium) {
      width: 19.5em;
      height: 5.2em;
      background-image: url(./../images/logo.svg);
    }

  }
}

