body {
  @media only screen and (max-width: $page-width-medium) {
    padding-top: 4em;
  }
}

.siteheader {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;

  @media only screen and (min-width: $page-width-medium) {
    margin-bottom: 3.5rem;
  }

  .home-title {
    font-size: 1em;
    margin-bottom: 0;
  }

  .tagline {
    @media only screen and (max-width: $page-width-medium) {
      display: none;
    }

    padding-bottom: 1rem;
    margin-bottom: 0;
    color: $color-white;
    font-weight: 300;
    font-size: 2em;
    text-shadow: $text-shadow;
  }

}

body.edd-checkout {
  .siteheader {
    margin-bottom: 1rem;
  }
}

.siteheader--home {
  @media only screen and (min-width: $page-width-medium) {
    padding-top: 2.1rem;
    margin-bottom: 5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 22em, rgba($scheme-home-secondary, .25) 22em);
    border-bottom: 1px solid $color-white;
  }

  @media only screen and (max-width: $page-width-medium) {
    margin-bottom: 0rem;
  }

  @media only screen and (max-width: $page-width-small) {
    margin-bottom: 11rem;
  }

  .masthead {
    margin-bottom: 2em;
  }
}

.masthead {
  @media only screen and (max-width: $page-width-medium) {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: $scheme-home-secondary;
    border-bottom: 1px solid $color-white;

    .admin-bar & {
      top: 46px;
      @media only screen and(min-width: 783px) {
        top: 32px;
      }
    }
  }
  /* Main site title */
  .pagetitle {
    width: 8em;
    height: 4em;

    margin: 0;
    line-height: 1em;
    display: block;

    background: url(./../images/logo-diap.svg) no-repeat left;

    @media only screen and (min-width: $page-width-medium) {
      width: 15em;
      height: 7em;
      background-image: url(./../images/logo.svg);
    }

    &--home {
      width: 100%;
      height: 7em;
      margin: auto;
      background: url(./../images/logo-diap.svg) no-repeat left;
      text-shadow: $text-shadow;
      @media only screen and (max-width: $page-width-medium) {
        height: 4em;
      }
    }
  }
}
