.sticky {
  &.is-sticky {
    position: fixed;
    //top: 0;
    left: 0;
    will-change: transform;

    .old-ie & {
      position: absolute;
    }
  }
}

.admin-bar .sticky {
  &.is-sticky {
    top: 32px;
  }
}