@mixin menu-item-color($color) {
  border-left: 1px solid $color;
  border-right: 1px solid $color;
  background-color: $color;

  .yoast-sub-menu {
	background-color: $color;
  }
}

@media only screen and (min-width: $page-width-medium) {

  .siteheader--home #yoast-main-menu {
    border-top: 1px solid $color-white;

	&.is-sticky {
	  margin-top: 0;
	}
  }

  #yoast-main-menu {
    padding-left: 5px;
    background-color: $color-pink-dark;
    z-index: 2147483645;

    &:after { // line between the main and submenu
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      border-top: 1px solid $color-white;
    }

    nav {
      display: block;
      max-width: $page-width-full-unitless * 16px; // fallback
      max-width: $page-width-full;
      width: 100%;
      margin: 0 auto;
    }

    a {
      color: white;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      flex-wrap: wrap;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 2px 10px;
          text-decoration: none;
        }
      }
    }

    li {
      z-index: 0;
    }

    li.menu-item {
      & > a.icon {
        width: 40px;
        padding: 0;

        & > .fa {
          width: 100%;
          font-size: 30px;
          text-align: center;
        }
      }

      & > a:not(.icon):after {
        padding-left: 5px;
        font-family: FontAwesome;
        content: "\f107";
        width: 16px;
        height: 16px;
        display: inline-block;
      }
    }

    li.sub-menu-item {

      &:first-child {
        padding-left: 0px;
      }

      .fa {
        padding: 0 3px;
      }

      &:first-child a {
        padding-left: 0px;
      }

      a {
        padding: 0 0.8em;
      }

      &:before {
        color: $color-white;
        position: absolute;
        content: '|';
        margin-left: -4px;
      }

      &:first-child:before {
        content: '';
      }
    }

    li.current-menu-item,
    li.current-menu-parent {
      z-index: 2;
      .yoast-sub-menu {
        display: block;
      }
    }

    li.current-menu-parent {
      border: 1px solid $color-white;
      border-top: none;
      border-bottom: none;
    }

    li:hover, li:focus {
      z-index: 3;

      &.menu-item {
        border: 1px solid $color-white;
        border-top: none;
        border-bottom: none;
      }
      .yoast-sub-menu {
        display: block;
      }
    }

    .yoast-main-menu {
      width: 100%;
      > li {
        padding: 4px 4px 0;
        > a {
          height: 40px;
        }
      }
    }

    div.yoast-sub-menu {
      position: absolute;
      display: none;
      left: 0;
      width: 100%;
      padding: 4px 0;
	  transition: box-shadow 0.2s ease-in-out;

      a:hover,
      a:focus,
      li.current-menu-item a {
        text-decoration: underline;
      }

      > ul {
        display: block;
        position: relative;
        max-width: $page-width-full-unitless * 16px; // fallback
        max-width: $page-width-full;
        width: 100%;
        margin: 0 auto;
        padding: 2px 5px;
      }
    }

	.menu-item {
	  &__home {
		@include menu-item-color($scheme-home-menu-primary);
	  }

	  &__seo-blog {
		@include menu-item-color($scheme-seo-blog-menu-primary);
	  }

	  &__plugins {
		@include menu-item-color($scheme-plugins-menu-primary);
	  }

	  &__courses {
		@include menu-item-color($scheme-courses-menu-primary);
	  }

	  &__ebooks {
		@include menu-item-color($scheme-ebooks-menu-primary);
	  }

	  &__hire-us {
		@include menu-item-color($scheme-hire-us-menu-primary);
	  }

	  &__faq {
		@include menu-item-color($scheme-faq-menu-primary);
	  }
	}

    li.controls {
      color: $color-white;
      margin-left: auto;
      a {
        margin: 0 6px;
        display: inline-flex;

        .fa {
          font-size: 1.4em;
          padding: 2px 5px;
        }
      }

      select {
        float: right;
        margin: 0.3rem 0 0 0;
        font-size: 1em;
        background-color: #A4286A;
        color: white;
        border: none;
      }

      a.cart {
        img {
          height: 40px;
          width: 30px;
          position: absolute;
          margin-left: -12px;
        }
        .num-items-container {
          position: relative;
          top: -9px;
          left: -5px;
          width: 20px;
          display: block;
          text-align: center;
        }
        .num-items:empty {
          visibility: hidden;
        }
        .num-items {
          display: inline;
          background-color: $color-orange;
          border-radius: 100%;
          font-size: 0.8em;
          padding: 0 5px;

          &.has-items {
            background-color: $color-green;
          }
        }
      }
    }
  }

  .is-sticky {
	width: 100%;
	div.yoast-sub-menu {
	  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
	}
  }
}

@media only screen and (max-width: $page-width-medium) {

  #yoast-main-menu {
	display: none;

	position: fixed;
	top: 4em;
	bottom: 0;
	right: -70%;
	z-index: 90;
	width: 70%;
	overflow: scroll;

	background-color: $color-white;
	//text-shadow: none;

	ul {
	  width: auto;
	  position: relative;
	  margin: 0;

	  li {
		display: block;
		width: 100%;

		a {
		  text-decoration: none;
		}
	  }
	}

	ul.yoast-main-menu {

	  li {

		a {
		  padding: 0.5rem 1rem;
		  display: block;
		  color: $color-white;

		  .fa {
			font-size: 1.4em;
			position: relative;
			top: 0.1em;
		  }
		}

		&.menu-item {

		  &__home {
			background-color: $scheme-home-menu-primary;
		  }

		  &__seo-blog {
			background-color: $scheme-seo-blog-menu-primary;
		  }

		  &__plugins {
			background-color: $scheme-plugins-menu-primary;
		  }

		  &__courses {
			background-color: $scheme-courses-menu-primary;
		  }

		  &__ebooks {
			background-color: $scheme-ebooks-menu-primary;
		  }

		  &__hire-us {
			background-color: $scheme-hire-us-menu-primary;
		  }

		  &__faq {
			background-color: $scheme-faq-menu-primary;
		  }
		}

		&.current-menu-parent {
		  a {
			color: $color-black;
		  }
		  background-color: $color-grey;
		}

		&.controls {
		  display: none;
		}
	  }
	}
	ul.yoast-sub-menu {
	  background-color: $color-white;
	  margin: 0;

	  li {
		width: auto;
		display: block;
		padding: .4rem;

		a {
		  color: $color-grey-text;
		}

		&.current-menu-item a {
		  text-decoration: underline;
		}
	  }
	}
  }

  [data-show-mobile-nav] {
	#yoast-main-menu {
	  display: block;
	  right: -1%;
	}
  }

}

[data-show-mobile-nav] {
  @media only screen and (max-width: $page-width-medium) {

	&::after {
	  content: '';
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 80;
	  background-color: rgba($color-black, .5);
	}
  }
}
