hr {
	position: relative;
	padding-bottom: $spacing;
	background-color: $color-white;

	.supports-filter & {
		&::after {
			content: '';
			border: none;
			border-top: 20px solid $color-white;
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			position: absolute;
			top: -2px;
			left: 50%;
			z-index: 1;
			height: 0;
			line-height: 0;
			@include vendor(transform, translateX(-50%));
		}
	}

	&.hr--no-pointer {
		&:after { content: none; }
	}

	&.tight {
		padding-bottom: 0;
		margin-bottom: $spacing-half;
	}
}