.llms-lesson-button-wrapper {
	@extend .island;

	input[type="submit"] {
		width: 100%;
	}
}

.llms-button {
	@extend .button, .default;
	border-radius: 0;

	&:hover {
		background: $color-orange;
	}
}

.llms-purchase-link-wrapper {
	text-align: left;
}

.llms-course-navigation {
	.llms-lesson-link {
		border: 1px solid $scheme-academy-primary;
		background: $color-white;
		box-shadow: none;

		&:hover {
			background: $color-white;

			.llms-span {
				text-decoration: none;
			}
		}
	}
}

svg .llms-animated-circle {
	stroke: $color-green;
}

.view-summary {
	cursor: pointer;
}

.quiz-summary {
	.panel {
		cursor: pointer;
	}
}

.llms-return {
	a {
		@extend .button, .dimmed;
	}
}

#quiz-start-button {
	text-align: left;
}

.llms-quiz-results {
	h3 {
		@extend .h2;
		background: none;
	}
}

.llms-quiz-result-details {
	ul:last-child {
		display: none;
	}

	h4,
	h5,
	h6,
	a {
		font-size: 1rem;
		font-family: $font-stack-article;
		color: $color-black;
	}
}

.llms-progress-circle-count {
	top: 25%;
	width: 91%;
}

.lifterlms {
	.course-link {
		text-align: right;
	}

	.llms-my-achievements {
		display: none;
	}
}

// Hide certain things if they are in the content.
.content {
	.llms-lesson-button-wrapper,
	.llms-course-navigation,
	.llms-parent-course-link,
	.llms-purchase-link-wrapper,
	.llms-return {
		display: none;
	}
}

