.llms-lesson-button-wrapper {
	@extend .island;

	input[type="submit"] {
		width: 100%;
	}
}

.llms-button {
	@extend .button, .default;
	border-radius: 0;

	&:hover {
		background: $color-orange;
	}
}

.llms-purchase-link-wrapper {
	text-align: left;
}

.llms-course-navigation {
	.llms-lesson-link {
		border: 1px solid $scheme-academy-primary;
		background: $color-white;
		box-shadow: none;

		&:hover {
			background: $color-white;

			.llms-span {
				text-decoration: none;
			}
		}
	}
}

svg .llms-animated-circle {
	stroke: $color-green;
}

.view-summary {
	cursor: pointer;
}

.quiz-summary {
	.panel {
		cursor: pointer;
	}

	.panel-body {
		img {
			display: block;
		}

		li {
			margin-top: $spacing;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.llms-return {
	a {
		@extend .button, .dimmed;
	}
}

#quiz-start-button {
	text-align: left;
}

.llms-quiz-results {
	h3 {
		@extend .h2;
		background: none;
	}
}

.llms-quiz-result-details {
	// Only display the first item.
	ul {
		display: none;
		&:first-child {
			display: block;
		}
	}

	h4,
	h5,
	h6,
	a {
		font-size: 1rem;
		font-family: $font-stack-article;
		color: $color-black;
	}
}

.llms-progress-circle-count {
	top: 25%;
	width: 91%;
}

.lifterlms {
	.course-link {
		text-align: right;
	}

	.llms-my-achievements {
		display: none;
	}
}

.llms-question-wrapper {
	.llms-option_ {
		margin: 0.6rem 0 0 0;

		&:first-child {
			margin-top: 0;
		}
	}

	.llms-question-label {
		padding-left: 30px;
		text-indent: -23px;

		input[type="radio"] {
			margin: 0 5px 0 0;
		}
	}
}

.llms-syllabus-wrapper {
	.llms-lesson-counter {
		display: none;
	}
}

// Hide certain things if they are in the content.
.content {
	.llms-lesson-button-wrapper,
	.llms-course-navigation,
	.llms-parent-course-link,
	.llms-purchase-link-wrapper,
	.llms-return {
		display: none;
	}
}

