.meta {
	font-size: 0.88em;
	margin-bottom: $spacing;
	line-height: $spacing;
	font-family: $font-stack-default;
	h2 {
		display: inline-block;
		margin-right: 0.5rem;
	}
}

.meta__tags h2 {
	margin-left: $spacing-half;
}

.meta__date {
	color: $color-grey-text;
	font-weight: 300;
}

.meta__author,
.meta__tags {
	display: inline;
}

.meta__category img,
.meta__authorpic,
.meta__readmore,
.meta__category {
	display: none;
}

@media only screen and (min-width: $page-width-full) {
	.meta {
		> div{
			border-bottom: 1px solid $color-pink-dark;
			padding: 1.5rem 0 1rem;
		}
		> div:first-child {
			padding-top: 0;
		}
		> div:last-child {
			border: 0;
		}
	}
	.meta--full {
		width: 292px;
		float: right;
		font-size: 0.94em;
	}
	.meta__author {
		position: relative;
	}
	.meta__authorpic {
		display: block;
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 0;
	}
	.meta__category {
		a {
			vertical-align: top; 
		}
		img {
			@include rounded--small;
			color: $scheme-academy-primary;
			margin-right: .4em;
		}
	}
	.meta__author,
	.meta__tags,
	.meta__category{
		display: block;
		a {
			display: block;
		}
	}
	.meta__tags h2 {
		margin-left: 0;
	}
}

.content__tags {
	font-family: $font-stack-default;
	margin-bottom: $spacing;
}