body {
	@media only screen and (max-width: $page-width-medium) {
		padding-top: 4em;
	}
}

.siteheader {
	position: relative;
	width: 100%;
	margin-bottom: 1rem;

	@media only screen and (min-width: $page-width-medium) {
		margin-bottom: 3.5rem;
	}

}

	.tagline {
		@media only screen and (max-width: $page-width-medium) {
			display: none;
		}

		padding: 1rem;
		margin-bottom: 0;
		border-top: 1px solid $color-white;
		text-align: center;
		color: $color-white;
		font-weight: 300;
		text-shadow: $text-shadow;
	}


	.siteheader--home { 
		@media only screen and (min-width: $page-width-medium) {
			padding: 1rem 0 2rem;
			background-image: linear-gradient(rgba(0, 0, 0, 0) 22em, rgba($scheme-home-secondary, .25) 22em);
			border-bottom: 1px solid $color-white;
		}

		@media only screen and (max-width: $page-width-medium) {
			margin-bottom: 0rem;

			.promoblock {
				width: 8em;
				height: 4em;
				padding: 0;
				margin: 0;
				border: none;
				background-color: transparent;
			}
		}

		@media only screen and (max-width: $page-width-small) {
			margin-bottom: 11rem;
		}
	}

	.masthead {
		@media only screen and (max-width: $page-width-medium) {
			position: fixed;
			top: 0;
			z-index: 99;
			background-color: $scheme-home-secondary;
			text-shadow: $text-shadow;
			border-bottom: 1px solid $color-white;

			.admin-bar & {
				top: 46px;
				@media only screen and(min-width: 783px) {
					top: 32px;
				}
			}
		}
	}


	/* Main site title */
	.pagetitle {
		width: 8em;
		height: 4em;

		margin: 0;
		line-height: 1em;
		display: block;

		background: url(./../images/Logo_Vinkje_diap.png) no-repeat left $spacing-half;
		background-size: 80%;

		@media only screen and (min-width: $page-width-medium) {
			width: 15em;
			height: 7em;
			background-image: url(./../images/logo.png);
		}

		&--home {
			width: 100%;
			height: 7em;
			margin: auto;
			background: url(./../images/Logo_Vinkje_diap.png) no-repeat left $spacing-half;	
			@media only screen and (max-width: $page-width-medium) {
				background-size: 80%;
				height: 4em;
			}
		}
	}
