.link--cta {
	color: $color-orange;
}

.link--light {
	color: $color-white;
}

.link--naked, .link--download{
	text-decoration: none !important;

	&:hover, &:focus {
		text-decoration: underline !important;
	}
}

.link--implicit {
	text-decoration: none !important;

	&:hover, &:focus {
		text-decoration: none !important;
	}
}

.link--explicit {
	text-decoration: underline !important;
}

.link--download {
	display: block;
	margin: 0 0 1em 0;
	color: $color-grey-text;
	&::before {
		font-family: $font-stack-icon;
		content: '\f019';
		margin-right: 0.5em;

		&:hover {
			text-decoration: none !important;
		}
	}
}
