.link--cta {
	color: $color-orange;
}

.link--light {
	color: $color-white;
}

.link--naked, .link--download {
	text-decoration: none !important;

	&:hover, &:focus {
		text-decoration: underline !important;
	}
}

.link--explicit {
	text-decoration: underline !important;
}

.link--download {
	display: block;
	margin: 15px 0;
	color: $color-grey-text !important;

	&::before {
		font-family: $font-stack-icon;
		content: '\f019';
		margin-right: 5px;

		&:hover {
			text-decoration: none !important;
		}
	}

}
