ul, ol {
	padding-left: 0;
	list-style-position: inside;
}

.list {

	&--unstyled {
		list-style: none;
		padding: 0;
	}

	&--padded {
		padding-left: $spacing-half;
	}

	&--usp {
		padding: 0;
		margin-bottom: 1em;
		font-family: $font-stack-default;

		li {
			list-style: none !important;
			position: relative;
			padding-left: $spacing / 1.5;

			&::before {
				content: '\f00c\0020';
				position: absolute;
				left: 0;
				top: 0;
				font-family: $font-stack-icon;
				color: $color-green;

			}
		}
	}
	&--plugin {
		li {
			@include display-flex;
			a:first-child {
				@include vendor(flex, 2 1 auto);
			}
		}
	}
}

dl { 
	margin: 0; 
	font-family: $font-stack-article;
	min-width: 100%;
	a {
		//text-decoration: none;
	}
}

dt {
	float: left;
	clear: both;
	width: 45%;
	margin-right: 1rem;
}

dd {
	float: left;
}
