ul, ol {
	padding-left: 0;
	list-style-position: inside;
}

.list {

	&--unstyled {
		list-style: none;
		padding: 0;
	}

	&--padded {
		padding-left: $spacing-half;
	}

	&--usp {
		padding: 0;
		margin-bottom: 1em;
		font-family: $font-stack-default;

		li {
			list-style: none !important;
			position: relative;
			padding-left: 1.5rem;

			&::before {
				content: '\f00c\0020';
				position: absolute;
				left: 0;
				top: 0;
				font-family: $font-stack-icon;
				color: $color-green;

			}
		}
	}
	&--plugin {
		li {
			@include display-flex;
			a:first-child {
				@include vendor(flex, 2 1 auto);
			}
		}
	}
}

dl { 
	margin: 0; 
	font-family: $font-stack-article;
	min-width: 100%;
	a {
		//text-decoration: none;
	}
}

dt {
	float: left;
	clear: both;
	width: 45%;
	margin-right: 1rem;
}

dd {
	float: left;
}

.content {
	ul.ordered-list {
		counter-reset: rowNumber;

		li {
			counter-increment: rowNumber;
			list-style: none;
			margin-left: 0;
			position: relative;
			padding-left: 3rem;

			&:before {
				content: counter(rowNumber);

				padding: 4px 9px;
				line-height: 1.2em;
				min-width: 1.2em;
				font-size: 16px;
				color: $color-white;
				display: inline-block;
				@include vendor(border-radius, 100%);
				position: absolute;
				left: 0;
			}
		}
		&--decimal {
			li {
				&:before {
					content: counter(rowNumber);
				}
			}
		}

		&--upper-alpha {
			li {
				&:before {
					content: counter(rowNumber, upper-alpha);
				}
			}
		}
	}
}