@mixin headers( $color-primary: black, $color-secondary: black ) {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $color-primary;
    a {
      color: $color-primary;

      &:hover, &:focus {
        color: $color-secondary;
      }
    }
  }

  .fill {
    h2, h3, h4, h5, h6,
    .h2, .h3, .h4, .h5, .h6 {
      color: $color-white;
      a {
        color: $color-white;
      }
    }
  }
}

@mixin theme($color-primary: black, $color-secondary: black) {
  @include headers( $color-primary, $color-secondary );

  a {
    color: $color-secondary;

    &:hover, &:focus {
      color: $color-primary;
    }

    &.more {
      color: $color-primary;
      &:hover, &:focus {
        color: $color-secondary;
      }
    }
  }

  .pagination {
    border-color: $color-secondary;
  }

  p.readmore a {
    color: $color-secondary;
  }

  .arrowed, .arrowed-medium, .arrowed-small {
    border-color: $color-primary;
  }

  &.announcement-banner{
    background-color: $color-primary;
  }

  hr {
    border-top-color: $color-secondary;

    &::after {
      @include vendor(filter, drop-shadow(0 1px 0 $color-secondary));
    }
  }

  .extra {
    h2, h3, h4,
    .h2, .h3, .h4 {
      color: $color-secondary
    }
  }

  // bio block
  .bio {
    p {
      color: $color-primary;
    }
  }

  // breadcrumbs
  .breadcrumb {
    color: $color-secondary;
  }

  input, textarea {
    border-color: $color-secondary;
  }

  .syllabus-section {
    &::after {
      @include vendor(filter, drop-shadow(0 1px 0 $color-primary));
    }

    &.unavailable-section {
      &::after {
        @include vendor(filter, drop-shadow(0 1px 0 $color-grey-quote));
      }
    }

    &.current-section {
      &::after {
        @include vendor(filter, drop-shadow(0 1px 0 $color-secondary));
      }
    }
  }
}
