.helper-border {

	&-white {
		border-color: $color-white !important;
	}

	&-courses {
		border-color: $scheme-courses-primary !important;
	}

	&-courses--secondary {
		border-color: $scheme-courses-secondary !important;
	}

	&-plugins {
		border-color: $scheme-plugins-primary !important;
	}

	&-plugins--secondary {
		border-color: $scheme-plugins-secondary !important;
	}

	&-hire-us {
		border-color: $scheme-hire-us-primary !important;
	}

	&-hire-us--secondary {
		border-color: $scheme-hire-us-secondary !important;
	}

	&-home {
		border-color: $scheme-home-primary !important;
	}

	&-home--secondary {
		border-color: $scheme-home-secondary !important;
	}

	&-seo-blog {
	  border-color: $scheme-seo-blog-primary !important;
	}

	&-seo-blog--secondary {
	  border-color: $scheme-seo-blog-secondary !important;
	}

	&-ebooks {
	  border-color: $scheme-ebooks-primary !important;
	}

	&-ebooks--secondary {
	  border-color: $scheme-ebooks-secondary !important;
	}

	&-faq {
	  border-color: $scheme-faq-primary !important;
	}

	&-faq--secondary {
	  border-color: $scheme-faq-secondary !important;
	}


}
