.color {

	&-courses {
		color: $scheme-courses-primary !important;
	}

	&-courses--secondary {
		color: $scheme-courses-secondary !important;
	}

	&-courses--tertiary {
		color: $scheme-courses-tertiary !important;
	}

	&-plugins {
		color: $scheme-plugins-primary !important;
	}

	&-plugins--secondary {
		color: $scheme-plugins-secondary !important;
	}

	&-hire-us {
		color: $scheme-hire-us-primary !important;
	}

	&-hire-us--secondary {
		color: $scheme-hire-us-secondary !important;
	}

	&-home {
		color: $scheme-home-primary !important;
	}

	&-home--secondary {
		color: $scheme-home-secondary !important;
	}

	&-home--tertiary {
		color: $scheme-home-tertiary !important;
	}

	&-seo-blog {
	  color: $scheme-seo-blog-primary !important;
	}

	&-seo-blog--secondary {
	  color: $scheme-seo-blog-secondary !important;
	}

	&-seo-blog--tertiary {
	  color: $scheme-seo-blog-tertiary !important;
	}

	&-ebooks {
	  color: $scheme-ebooks-primary !important;
	}

	&-ebooks--secondary {
	  color: $scheme-ebooks-secondary !important;
	}

	&-ebooks--tertiary {
	  color: $scheme-ebooks-tertiary !important;
	}

	&-faq {
	  color: $scheme-faq-primary !important;
	}

	&-faq--secondary {
	  color: $scheme-faq-secondary !important;
	}

	&-faq--tertiary {
	  color: $scheme-faq-tertiary !important;
	}

	&-cta {
		color: $color-orange !important;
	}

	&-white {
		color: $color-white !important;
	}

	&-black {
		color: $color-black !important;
	}
}

.border-color {

	&-courses {
		border-color: $scheme-courses-primary !important;
	}

	&-courses--secondary {
		border-color: $scheme-courses-secondary !important;
	}

	&-courses--tertiary {
		border-color: $scheme-courses-tertiary !important;
	}

	&-plugins {
		border-color: $scheme-plugins-primary !important;
	}

	&-plugins--secondary {
		border-color: $scheme-plugins-secondary !important;
	}

	&-hire-us {
		border-color: $scheme-hire-us-primary !important;
	}

	&-hire-us--secondary {
		border-color: $scheme-hire-us-secondary !important;
	}

	&-home {
		border-color: $scheme-home-primary !important;
	}

	&-home--secondary {
		border-color: $scheme-home-secondary !important;
	}

	&-home--tertiary {
		border-color: $scheme-home-tertiary !important;
	}

	&-seo-blog {
	  border-color: $scheme-seo-blog-primary !important;
	}

	&-seo-blog--secondary {
	  border-color: $scheme-seo-blog-secondary !important;
	}

	&-seo-blog--tertiary {
	  border-color: $scheme-seo-blog-tertiary !important;
	}

	&-ebooks{
	  border-color: $scheme-ebooks-primary !important;
	}

	&-ebooks--secondary {
	  border-color: $scheme-ebooks-secondary !important;
	}

	&-ebooks--tertiary {
	  border-color: $scheme-ebooks-tertiary !important;
	}

	&-faq{
	  border-color: $scheme-faq-primary !important;
	}

	&-faq--secondary {
	  border-color: $scheme-faq-secondary !important;
	}

	&-faq--tertiary {
	  border-color: $scheme-faq-tertiary !important;
	}


	&-cta {
		border-color: $color-orange !important;
	}

	&-white {
		border-color: $color-white !important;
	}
}

a, button, input {
	&.color {

		&-courses{
			&:hover, &:focus {
				color: $scheme-courses-secondary!important;
			}
		}

		&-courses--secondary {
			&:hover, &:focus {
				color: $scheme-courses-primary!important;
			}
		}


		&-courses--tertiary {
			&:hover, &:focus {
				color: $scheme-courses-primary!important;
			}
		}

		&-plugins {
			&:hover, &:focus {
				color: $scheme-plugins-secondary!important;
			}
		}

		&-plugins--secondary {
			&:hover, &:focus {
				color: $scheme-plugins-primary!important;
			}
		}

		&-hire-us {
			&:hover, &:focus {
				color: $scheme-hire-us-secondary!important;
			}
		}

		&-hire-us--secondary {
			&:hover, &:focus {
				color: $scheme-hire-us-primary!important;
			}
		}

		&-home {
			&:hover, &:focus {
				color: $scheme-home-secondary!important;
			}
		}

		&-home--secondary {
			&:hover, &:focus {
				color: $scheme-home-primary!important;
			}
		}

		&-home--tertiary {
			&:hover, &:focus {
				color: $scheme-home-primary!important;
			}
		}

		&-seo-blog {
		  &:hover, &:focus {
			color: $scheme-seo-blog-secondary!important;
		  }
		}

		&-seo-blog--secondary {
		  &:hover, &:focus {
			color: $scheme-seo-blog-primary!important;
		  }
		}

		&-seo-blog--tertiary {
		  &:hover, &:focus {
			color: $scheme-seo-blog-primary!important;
		  }
		}

		&-ebooks {
		  &:hover, &:focus {
			color: $scheme-ebooks-secondary!important;
		  }
		}

		&-ebooks--secondary {
		  &:hover, &:focus {
			color: $scheme-ebooks-primary!important;
		  }
		}

		&-ebooks--tertiary {
		  &:hover, &:focus {
			color: $scheme-ebooks-primary!important;
		  }
		}

		&-faq{
		  &:hover, &:focus {
			color: $scheme-faq-secondary!important;
		  }
		}

		&-faq--secondary {
		  &:hover, &:focus {
			color: $scheme-faq-primary!important;
		  }
		}

		&-faq--tertiary {
		  &:hover, &:focus {
			color: $scheme-faq-primary!important;
		  }
		}


	  &-cta {
			&:hover, &:focus {
				//color: desaturate(lighten($color-orange, 20), 20)!important;
			}
		}

		&-white {
			&:hover, &:focus {
				color: desaturate(lighten($color-white, 20), 20)!important;
			}
		}
	}
}
